-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: data_portal
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `data`
--

DROP TABLE IF EXISTS `data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `data` (
  `Hammer_type` text,
  `Item` text,
  `Operation` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `data`
--

LOCK TABLES `data` WRITE;
/*!40000 ALTER TABLE `data` DISABLE KEYS */;
INSERT INTO `data` VALUES ('VD3','Coupler','OD 1T'),('RT4','Top Valve','OD 2T'),('HS45','Head','MILL'),('AD45','Control  Tube','B_THREAD'),('RT55','Pistion','T_THREAD'),('TDR','Hammer Case','ODG'),('RB','Guide Bush','IDG'),('RRT7','BRR',''),('RR7SPL','Front Chuck',''),('S82','Liner',''),('8Glad','L Plates',''),('R380','',''),('DHD360','',''),('RK1','',''),('RK3','','');
/*!40000 ALTER TABLE `data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `data1`
--

DROP TABLE IF EXISTS `data1`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `data1` (
  `Item` text,
  `TYPES` text,
  `4 TO 5.5` double DEFAULT NULL,
  `6 TO 7` text,
  `R380` text,
  `S82` text,
  `8_GLAD` text,
  `RK1` text,
  `RK3` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `data1`
--

LOCK TABLES `data1` WRITE;
/*!40000 ALTER TABLE `data1` DISABLE KEYS */;
/*!40000 ALTER TABLE `data1` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `id grind`
--

DROP TABLE IF EXISTS `id grind`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `id grind` (
  `Item` text,
  `Code` text,
  `Rate` int DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `id grind`
--

LOCK TABLES `id grind` WRITE;
/*!40000 ALTER TABLE `id grind` DISABLE KEYS */;
INSERT INTO `id grind` VALUES ('R380 GB ID GROUND','380GB',80),('R380 LINERS ID GROUND','380LN',90),('RB HEADS ID GRIND','65HD',65),('RB PISTIONS ID GRIND','65P',95),('RK1 COUPLER OD & ID GROUND','10CP',150),('RT 55 HEADS ID GRIND','45HD',30),('RT4 CT ID GROUND','40CT',25),('RT55 PISTIONS ID GROUND','45P',85),('TDR GB ID GRIND','65GB',45),('TDR HEADS ID GRIND','65HD',65),('TDR PISTIONS ID GRIND','65P',95);
/*!40000 ALTER TABLE `id grind` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `id_grind`
--

DROP TABLE IF EXISTS `id_grind`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `id_grind` (
  `Item` text,
  `Code` text,
  `Rate` int DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `id_grind`
--

LOCK TABLES `id_grind` WRITE;
/*!40000 ALTER TABLE `id_grind` DISABLE KEYS */;
INSERT INTO `id_grind` VALUES ('R380 GB ID GROUND','380GB',80),('R380 LINERS ID GROUND','380LN',90),('RB HEADS ID GRIND','65HD',65),('RB PISTIONS ID GRIND','65P',95),('RK1 COUPLER OD & ID GROUND','10CP',150),('RT 55 HEADS ID GRIND','45HD',30),('RT4 CT ID GROUND','40CT',25),('RT55 PISTIONS ID GROUND','45P',85),('TDR GB ID GRIND','65GB',45),('TDR HEADS ID GRIND','65HD',65),('TDR PISTIONS ID GRIND','65P',95);
/*!40000 ALTER TABLE `id_grind` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `milling`
--

DROP TABLE IF EXISTS `milling`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `milling` (
  `Item` text,
  `Code` text,
  `Rate` int DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `milling`
--

LOCK TABLES `milling` WRITE;
/*!40000 ALTER TABLE `milling` DISABLE KEYS */;
INSERT INTO `milling` VALUES ('7 SPL GB','65GB',21),('HSD COUP','45CP',21),('HSD COUPLERS','45CP',21),('HSD GB','45GB',21),('R380 COUP','380CP',100),('R380 FC','380FC',50),('R380 PISTIONS','380P',160),('R380 TV','380TV',70),('R5 COUPLERS','45CP',21),('RB65 COUPLERS','65CP',21),('RT4 CT','45CT',23),('TDR CT','65CT',23),('TDRGB','65GB',21);
/*!40000 ALTER TABLE `milling` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `od_grind`
--

DROP TABLE IF EXISTS `od_grind`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `od_grind` (
  `Item` text,
  `Code` text,
  `Rate` int DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `od_grind`
--

LOCK TABLES `od_grind` WRITE;
/*!40000 ALTER TABLE `od_grind` DISABLE KEYS */;
INSERT INTO `od_grind` VALUES ('HSD CT OD GROUND','45CT',50),('R380 GB OD GROUND','380 GB',65),('R380 LINERS OD GROUND','380LN',60),('RB HEADS OD GRIND','65HD',45),('RB PISTIONS OD GRIND','65PIST',65),('RT4 CT OD GROUND','45CT',50),('RT5 CT OD GROUND','45CT',50),('RT55 PISTIONS OD GROUND','45PIST',60),('TDR CT OD GRIND','65CT',50),('TDR GB OD GRIND','65GB',40),('TDR HEADS OD GRIND','65HD',45),('TDR PISTIONS OD GRIND','65PIST',65);
/*!40000 ALTER TABLE `od_grind` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `od_patch`
--

DROP TABLE IF EXISTS `od_patch`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `od_patch` (
  `Item` text,
  `Code` text,
  `Rate` int DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `od_patch`
--

LOCK TABLES `od_patch` WRITE;
/*!40000 ALTER TABLE `od_patch` DISABLE KEYS */;
INSERT INTO `od_patch` VALUES ('10\'RK1 FC OD & ID','10FC',110),('5.5 HC OD PATCH','45HCPH',55),('AD45 HC OD PATCH','45HCPH',55),('HSD FC OD & ID','45FC',50),('HSD HC OD PATCH','45HCPH',55),('R380HC OD PATCH','380HC PH',100),('RB6 FC OD & ID','65FC',70),('RB6 HC OD PH','65HCPH',70),('RB65 FC OD & ID','65FC',70),('RB65 HC OD PH','65HCPH',70),('RK1 COUPLER OD GRIND','10CP',70),('RK1 HC OD PATCH','10HC PH',100),('RR7 HC OD PH','65HCPH',70),('S82 FC OD & ID','82FC',100),('TDR6 FC OD & ID','65FC',70),('TDR6 HC OD PATCH','65HCPH',70),('TDR65 FC OD & ID','65FC',70),('TDR65 HC OD PATCH','65HCPH',70);
/*!40000 ALTER TABLE `od_patch` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `submitted_id_grind_2025_10`
--

DROP TABLE IF EXISTS `submitted_id_grind_2025_10`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `submitted_id_grind_2025_10` (
  `id` int NOT NULL AUTO_INCREMENT,
  `date` date DEFAULT NULL,
  `item` varchar(100) DEFAULT NULL,
  `code` varchar(50) DEFAULT NULL,
  `rate` float DEFAULT NULL,
  `quantity` float DEFAULT NULL,
  `total` float DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `submitted_id_grind_2025_10`
--

LOCK TABLES `submitted_id_grind_2025_10` WRITE;
/*!40000 ALTER TABLE `submitted_id_grind_2025_10` DISABLE KEYS */;
INSERT INTO `submitted_id_grind_2025_10` VALUES (1,'2025-10-12','R380 LINERS ID GROUND','380LN',90,9,810);
/*!40000 ALTER TABLE `submitted_id_grind_2025_10` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `submitted_milling_2025_10`
--

DROP TABLE IF EXISTS `submitted_milling_2025_10`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `submitted_milling_2025_10` (
  `id` int NOT NULL AUTO_INCREMENT,
  `date` date DEFAULT NULL,
  `item` varchar(100) DEFAULT NULL,
  `code` varchar(50) DEFAULT NULL,
  `rate` float DEFAULT NULL,
  `quantity` float DEFAULT NULL,
  `total` float DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `submitted_milling_2025_10`
--

LOCK TABLES `submitted_milling_2025_10` WRITE;
/*!40000 ALTER TABLE `submitted_milling_2025_10` DISABLE KEYS */;
INSERT INTO `submitted_milling_2025_10` VALUES (1,'2025-10-21','TDR CT','65CT',23,7,161);
/*!40000 ALTER TABLE `submitted_milling_2025_10` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `submitted_od_grind_2025_10`
--

DROP TABLE IF EXISTS `submitted_od_grind_2025_10`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `submitted_od_grind_2025_10` (
  `id` int NOT NULL AUTO_INCREMENT,
  `date` date DEFAULT NULL,
  `item` varchar(100) DEFAULT NULL,
  `code` varchar(50) DEFAULT NULL,
  `rate` float DEFAULT NULL,
  `quantity` float DEFAULT NULL,
  `total` float DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `submitted_od_grind_2025_10`
--

LOCK TABLES `submitted_od_grind_2025_10` WRITE;
/*!40000 ALTER TABLE `submitted_od_grind_2025_10` DISABLE KEYS */;
INSERT INTO `submitted_od_grind_2025_10` VALUES (1,'2025-10-17','TDR HEADS OD GRIND','65HD',45,3,135);
/*!40000 ALTER TABLE `submitted_od_grind_2025_10` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `submitted_od_patch_2025_10`
--

DROP TABLE IF EXISTS `submitted_od_patch_2025_10`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `submitted_od_patch_2025_10` (
  `id` int NOT NULL AUTO_INCREMENT,
  `date` date DEFAULT NULL,
  `item` varchar(100) DEFAULT NULL,
  `code` varchar(50) DEFAULT NULL,
  `rate` float DEFAULT NULL,
  `quantity` float DEFAULT NULL,
  `total` float DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `submitted_od_patch_2025_10`
--

LOCK TABLES `submitted_od_patch_2025_10` WRITE;
/*!40000 ALTER TABLE `submitted_od_patch_2025_10` DISABLE KEYS */;
INSERT INTO `submitted_od_patch_2025_10` VALUES (1,'2025-10-12','RK1 HC OD PATCH','10HC PH',100,5,500);
/*!40000 ALTER TABLE `submitted_od_patch_2025_10` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `submitted_wasem_2025_10`
--

DROP TABLE IF EXISTS `submitted_wasem_2025_10`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `submitted_wasem_2025_10` (
  `id` int NOT NULL AUTO_INCREMENT,
  `date` date DEFAULT NULL,
  `item` varchar(100) DEFAULT NULL,
  `code` varchar(50) DEFAULT NULL,
  `G_Rate` float DEFAULT NULL,
  `H_Rate` float DEFAULT NULL,
  `quantity` float DEFAULT NULL,
  `G_Total` float DEFAULT NULL,
  `H_Total` float DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `submitted_wasem_2025_10`
--

LOCK TABLES `submitted_wasem_2025_10` WRITE;
/*!40000 ALTER TABLE `submitted_wasem_2025_10` DISABLE KEYS */;
INSERT INTO `submitted_wasem_2025_10` VALUES (1,'2025-10-19','R380 HC ID','380HC',270,120,8,2160,960),(2,'2025-10-19','HSDHC ID','45HC',165,60,23,3795,1380);
/*!40000 ALTER TABLE `submitted_wasem_2025_10` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `turning`
--

DROP TABLE IF EXISTS `turning`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `turning` (
  `Item` text,
  `Code` text,
  `Rate` int DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `turning`
--

LOCK TABLES `turning` WRITE;
/*!40000 ALTER TABLE `turning` DISABLE KEYS */;
/*!40000 ALTER TABLE `turning` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'brahma','scrypt:32768:8:1$4MeKmYrRn7ZiTjRx$0386b0a6cd2cd6814c0759b0dfe27234b614fc4c00b575e68a1f98c25e65ba75e7c9301b8821c5f0c8bb3923f2bb0474d6b7b31c07712c2018d81db50f184a52');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wasem`
--

DROP TABLE IF EXISTS `wasem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `wasem` (
  `Item` text,
  `Code` text,
  `G_Rate` int DEFAULT NULL,
  `H_Rate` int DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wasem`
--

LOCK TABLES `wasem` WRITE;
/*!40000 ALTER TABLE `wasem` DISABLE KEYS */;
INSERT INTO `wasem` VALUES ('AD45HC ID','45HC',165,60),('HSDHC ID','45HC',165,60),('R380 HC ID','380HC',270,120),('R5T55 HC ID','45HC',165,60),('RB65HC ID','65HC',185,85),('RB6HC ID','65HC',185,85),('RK1 HC ID','10HC',600,225),('RR7 SPL HC ID','65HC',185,85),('TDR6 HC ID','65HC',185,85),('TDR65 HC ID','65HC',185,85);
/*!40000 ALTER TABLE `wasem` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-22  9:45:20
